<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>WebAuthn Example</title>
        <link th:href="@{/css/tachyons.css}" rel="stylesheet" />
    </head>
    <body class="black-80">
        <div th:replace="header :: header">...</div>
        <div class="pa4 black-80">
            <div id="errors"></div>
            <form class="measure center" id="form" action="/registerauth" method="POST">
                <legend class="f2 f1-l fw2 mb0 lh-title">Register Authentication</legend>
                <div class="mt3">
                    <label class="db fw6 lh-copy" for="username">Username:</label>
                    <input class="pa2 input-reset ba bg-transparent hover-bg-hot-pink hover-white w-100" type="text" name="username" id="username" required>
                </div>
                <div class="mt3">
                    <label class="db fw6 lh-copy" for="displayname">Display Name:</label>
                    <input class="pa2 input-reset ba bg-transparent hover-bg-hot-pink hover-white w-100" type="text" name="display" id="display" required>
                </div>
                <div class="mt3">
                    <label class="db fw6 lh-copy" for="credentialname">Credential Name:</label>
                    <input class="pa2 input-reset ba bg-transparent hover-bg-hot-pink hover-white w-100" type="text" name="credname" id="credname" required>
                </div>
                <button class="ba bw1 mt2 no-underline br-pill ph3 pv2 mb2 dib white b--hot-pink bg-hot-pink" type="submit">Submit</button>
            </form>
        </div>
    </body>
    <script src="javascript/base64js.min.js"></script>
    <script src="javascript/custom.js"></script>
    <script src="javascript/registerauth.js"></script>
</html>
